:root {
  font-family: Inter, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  text-rendering: optimizeLegibility;-webkit-font-smoothing: antialiased;;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0 auto;
  padding: 20px;
  display: flex;
  max-width: 576px;
  background-color: #2b2b28;
  color: #ebdbb2;
}

a {
  font-weight: 500;
  color: #ffb5b5;
  text-decoration: none;
}

.music > ol > li > p {
  margin: 0;
}